body {
  background-image: url("./images/1800_3200_background.png");
}

.icon-large {
  background-image: url("./images/1800_3200_background.png");
  background-size: cover;
  background-attachment: fixed;
}

.background-container {
  width: 100%;
  position: absolute;
  height: 100%;
}

.container {
  margin: auto;
}

.logo-form {
  margin: auto;
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-container {
  width: 375px;
  display: inline-block;
  height: 500px;
}
.spacer {
  width: 20%;
}

.login-form {
  width: 375px;
  margin: auto;
}

.logo-text {
  font-family: 'montserrat';
  color: #fafbfb;
  font-size: 120px;
}

.lightFont {
  background-color: #8adae2;
}

.logo-text-bloq {
  font-family: 'montserrat';
  color: #fafbfb;
  font-size: 120px;
  font-weight: bold;
  background-color: #8adae2;
  margin-right: 20%;
}

.main-logo {
  border-width: 5px;
  border-color: #fafbfb;
  border-style: solid;
  margin: 5px;
  padding: 5px;
  opacity: .85;
  font-size: 20vw;
  max-width: 375px;
  margin: auto;
}

.tracking-grid-gridlist {
  margin: auto;
  overflow-y: auto;
  max-height: 450px;
  height: 100%;
}

.tracking-grid-griditem {
  width: 350px;
  height: 250px;
  overflowY: auto;
}

.property-tracking-grid-griditem {
  width: 100%;
  max-width: 350px;
  overflowY: auto;
}

.tracking-grid-griditem-status {
  position: absolute;
  float: right;
  top: 5px;
  right: 5px;
}
.tracking-grid-griditem-smallfont {
  font-size: 10px;
}

.tracking-grid-griditem-button-position {
  top: 20px;
  right: 20px;
  padding: 10px !important;
}

.tracking-grid-grid-button-position {
  padding: 10px !important;
}
.tracking-grid-griditem-button-right {
  float: right;
}

.tracking-grid-griditem-button-left {
  float: left;
}

.tracking-grid-container {
  display: 'flex';
  height: 300px;
}

.tracking-grid-title {
  background-color: #8adae2;
}

.tracking-grid-counter {
  display: 'flex';
  flexWrap: 'wrap';
}
.tracking-grid-griditem-text {
  font-size: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

.property-tracking-dialog {
  width: 100%;
}

.input {
  padding: 0px;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(66, 66, 66);
  cursor: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

.transparentbg {
  color: white;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: #4caf50;
}

.fieldheader {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}

.tracklist-popover-container {
  width: 400px;
  display: inline-block;
}
